@layer base {

    .cms-contentWrapper {

        /* Common block content styling */
        p,
        ul,
        ol {
            @apply mb-5;

            &:only-child,
            &:last-child {
                @apply mb-0;
            }
        }


        /* Paragraph */

        p {

        }


        /* Lists */

        ul {
            @apply list-disc list-inside;
        }

        ol {
            @apply list-decimal list-inside;
        }


        /* Links */

        a {
            @apply underline;
            @apply text-blue-600;

            &:hover {

            }

            &:focus {

            }
        }

    }

}
