<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="/favicon-32x32.png">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="/favicon-16x16.png">
    <link rel="stylesheet"
          href="/build/main.css">
    <title>Welcome to Tailwind!</title>
</head>

<body class="antialiased">

<div id="app"
     class="l-app">

    <header class="l-siteHeader">
        <h1 class="g-title g-title--xxl">{{ welcomeMessage }}</h1>
    </header>


    <main class="l-siteContent">

        <section class="o-block  container mx-auto">

            <div class="cms-contentWrapper">

                <h2 class="g-title g-title--xxl">
                    Centered container
                </h2>

                <h3 class="g-title g-title--xl">
                    Default styles
                </h3>

                <p>Only HTML elements within a <code class="h_code">.cms-contentWrapper</code> will get default styling.</p>


                <p v-for="item in getLoremPara(2)">{{ item }}</p>

                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet, consectetur</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing</li>
                </ul>

                <ol>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet, consectetur</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing</li>
                </ol>

            </div>

        </section>


        <section class="o-block">

            <h2 class="g-title g-title--xxl">
                Full width container
            </h2>

            <p v-for="item in getLoremPara(3)">{{ item }}</p>

        </section>

    </main>


    <footer class="l-siteFooter">
        <p>The footer</p>
    </footer>

</div>

</body>


<script src="https://unpkg.com/vue@next"></script>

<script>
    const {
        createApp,
        ref
    } = Vue;

    const App = {
        setup() {
            const welcomeMessage = ref("Hello there!!!");

            // Lorem
            const loremPara = ref("Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, consequatur eius explicabo magni maiores, nam, neque nihil non nulla pariatur quas sint tempore ullam. Atque doloribus nisi porro similique voluptates.");
            const getLoremPara = (num = 1) => Array(num).fill(loremPara.value);

            return {
                welcomeMessage,

                getLoremPara
            };
        }
    };

    createApp(App).mount("#app");

</script>


</html>
