@layer components {

    .g-title {
        @apply mb-4;

        &--xxl {
            @apply text-5xl;
            @apply font-bold;
        }

        &--xl {
            @apply text-2xl;
            @apply font-bold;
        }

        &--lg {
            @apply text-xl;
            @apply font-bold;
        }
    }

}